@model wsad_app.Models.Account.AccountLoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@Html.ValidationSummary()
<form method="post" action="/Account/Login">
    <label>Username: </label>
        @Html.TextBoxFor(model => model.Username) <br />
    <label>Password: </label>
        @Html.PasswordFor(model => model.Password) <br />
    <label>Remember Me</label>
        @Html.CheckBoxFor(model => model.RememberMe) <br />
    <button type="submit" name="login">Log In</button>
    <a href="/Account/Create">Create and Account</a>
</form>