@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("(" + User.Identity.Name + ")", "UserProfile", "Account") </li>

    <li>@Html.ActionLink("Sign Out", "LogOut", "Account")</li>
}
else
{
    @Html.ActionLink("Login Here", "Login", "Account")
}
