@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("(" + User.Identity.Name + ")", "UserProfile", "Account") </li>

    <li>@Html.ActionLink("Sign Out", "LogOut", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    <li>@Html.ActionLink("Create Account", "Create", "Account")</li>
}
