@{
    ViewBag.Title = "Who are we?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We are a group of circus enthusiasts that enjoy 
    hosting the national circus convention every year.</p>
